# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual environments
.venv/
venv/
env/

# PyCharm / JetBrains
.idea/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Packaging
*.egg-info/

# OS
.DS_Store